/* Header */
header {
  background-color: black;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 10;
}
.logo {
  display: flex;
  flex-grow: 1;
  margin-left: 10px;
}
.logo img {
  height: 50px;
}
header nav {
  display: inline-block;
}
header nav a {
  color: seashell;
  padding-left: 20px;
}
/* Body */
body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
.main {
  display: flex;
  justify-content: center;
}
.top {
  display: flex;
  background-image: url(../images/background.jpg);
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 1200px;
  padding-top: 69px;
}
.ourmission {
  text-align: center;
  width: 1200px;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.ourmission h2 {
margin: 10px 0px 20px 0px;
}
.ourmission h4 {
  margin: 10px;
}
