/* Header */
header {
  background-color: black;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 10;
}
.logo {
  display: flex;
  flex-grow: 1;
  margin-left: 10px;
}
.logo img {
  height: 50px;
}
header nav {
  display: inline-block;
}
header nav a {
  color: seashell;
  padding: 0px 10px;
}
/* Body */
body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
.main .top, .middle, .bottom {
  margin-top: 70px;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.top {
  display: flex;
  background-image: url(../images/background.jpg);
  align-items: center;
  height: 700px;
  width: 1200px;
}
.ourmission {
  text-align: center;
  width: 1200px;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.ourmission h2 {
margin: 10px 0px 20px 0px;
}
.ourmission h4 {
  margin: 10px;
}
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}
.middle h2, .middle h4 {
  margin: 0px 0px 20px 0px;
}
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items img {
  margin: 10px;
  height: 200px;
  width: 300px;
}
.items span {
font-weight: bold;
margin-bottom: 15px;
}
.bottom {
  text-align: center;
  background-image: url(../images/locations.jpg);
  padding-top: 70px;
  height: 500px;
  width: 1200px;
}
.alllocations {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  flex-direction: column;
  flex-basis: 300px;
  background-color: black;
  margin: 0 20px;
  opacity: 1;
}
.bottom h2 {
  margin-bottom: 15px;
}
.location h3 {
  margin-top: 20px;
}
.location p {
  padding: 10px 0px;
}
